# This just generates random data -- look at main.ipynb to debug

In [1]:
import names
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({"name": [names.get_first_name() for i in range(10)]})
for i in range(5):
    df[f"P{i+1}"] = np.random.random(size=len(df)) * 0.15 + 0.85
df[f"Final"] = np.random.random(size=len(df)) * 0.3 + 0.7
df[f"Participation"] = np.random.random(size=len(df)) * 0.1 + 0.9
df

,name,P1,P2,P3,P4,P5,Final,Participation
0,Elsie,0.954955,0.913779,0.921565,0.936532,0.901380,0.928387,0.914671
1,Brian,0.947351,0.952920,0.925073,0.875950,0.857365,0.938826,0.958818
2,Loretta,0.958606,0.891525,0.950882,0.946470,0.989340,0.933632,0.969530
3,Esther,0.985102,0.872918,0.977284,0.988530,0.930378,0.724164,0.995753
4,Dawn,0.966695,0.927002,0.991770,0.959826,0.895863,0.859567,0.908425
5,Crystal,0.859427,0.952088,0.965462,0.899423,0.995269,0.989677,0.987587
6,Clarence,0.851693,0.926668,0.906261,0.880833,0.932816,0.834454,0.943060
7,Virginia,0.928037,0.934979,0.874236,0.955648,0.997138,0.715540,0.959519
8,Ernest,0.893501,0.959971,0.938698,0.887911,0.881159,0.978723,0.928907
9,Jane,0.922780,0.964439,0.926576,0.937013,0.853827,0.700346,0.998765

In [3]:
df.to_csv("scores.csv", index=False)