In [1]:
import pandas as pd

In [2]:
# Point vs Grade Distribution:
# Projects: 10% each
# Final: 30%
# Participation: 20%
df = pd.read_csv("scores.csv")
df

,name,P1,P2,P3,P4,P5,Final,Participation
0,Elsie,0.954955,0.913779,0.921565,0.936532,0.901380,0.928387,0.914671
1,Brian,0.947351,0.952920,0.925073,0.875950,0.857365,0.938826,0.958818
2,Loretta,0.958606,0.891525,0.950882,0.946470,0.989340,0.933632,0.969530
3,Esther,0.985102,0.872918,0.977284,0.988530,0.930378,0.724164,0.995753
4,Dawn,0.966695,0.927002,0.991770,0.959826,0.895863,0.859567,0.908425
5,Crystal,0.859427,0.952088,0.965462,0.899423,0.995269,0.989677,0.987587
6,Clarence,0.851693,0.926668,0.906261,0.880833,0.932816,0.834454,0.943060
7,Virginia,0.928037,0.934979,0.874236,0.955648,0.997138,0.715540,0.959519
8,Ernest,0.893501,0.959971,0.938698,0.887911,0.881159,0.978723,0.928907
9,Jane,0.922780,0.964439,0.926576,0.937013,0.853827,0.700346,0.998765

In [3]:
class Student:
    def __init__(self,name):
        self.name = name
        self.grade = 0

    def compute_grade(self, category, points):
        grade = 0
        if category == "Participation":
            grade += points*20
        if "P" in category:
            grade += points*10
        if category == "Final":
            grade += points*30
        self.grade += self.grade

    def get_grade(self):
        return self.grade

In [4]:
cs320 = {}
for i in range(len(df)):
    student = Student(df["name"][i])
    for col in df.columns:
        student.compute_grade(col, df.at[i, col])
    cs320[student.name] = student.get_grade()

In [5]:
# max score should be 100; Crystal should have highest score, about 96.16
cs320

{'Elsie': 0,
 'Brian': 0,
 'Loretta': 0,
 'Esther': 0,
 'Dawn': 0,
 'Crystal': 0,
 'Clarence': 0,
 'Virginia': 0,
 'Ernest': 0,
 'Jane': 0}

# Hints

Debugging is about asking good questions related to the issue, then finding answers to those questions (often with print statements).  Some good questions to ask here:

* what line is supposed to update `self.grade` (which appears to remain zero, incorrectly)?  Does this line run?  You could add a `print("DEBUG")` before to find out.
* what is getting added to `self.grade` each time `compute_grade` is called?  A print can help with this question too.
* is any category getting counted more than once?  You could print the category inside `compute_grade` and print "ADD" inside each `if` statement to look for double counting.